/* 1. Fixed Body style */
.app-body-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* 2. Header */
.app-header {
    position: fixed;
    z-index: 99;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 14px;
    height: 60px;
    font-weight: 400;
    background: #DC2424;
    background: -webkit-linear-gradient(to right, #4A569D, #DC2424);
    background: linear-gradient(to right, #4A569D, #DC2424);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    -webkit-transition: top 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: top 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: top 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: top 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
.app-header a {
    color: #4A569D;
}
.app-header.hide {
    top: -60px;
}
.app-toggle-sidebar {
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    background-color: rgba(0,0,0,0.05);
    float: left;
}
.app-toggle-sidebar i {
    position: absolute;
    left: 18px;
    top: 18px;
    -webkit-transition: transform 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: transform 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: transform 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: transform 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
.app-toggle-sidebar .app-open-icon {
    transform: scale(1);
}
.app-toggle-sidebar .app-close-icon {
    transform: scale(0);
}
.app-opened-sidebar .app-toggle-sidebar .app-open-icon {
    transform: scale(0);
}
.app-opened-sidebar .app-toggle-sidebar .app-close-icon {
    transform: scale(1);
}
.app-logo-box {
    height: 27px;
    display: block;
    float: left;
    margin: 14px;
}
.app-logo-box h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.app-logo {
    font-size: 18px;
    color: #FFF;
}
.app-logo img {
    display: block;
    float: left;
}
.app-logo .app-logo-mobile {
    display: none;
}
.app-logo .app-logo-desktop {
    display: block;
}
.app-logo .app-logo-name {
    display: inline-block;
    float: left;
    font-weight: 400;
    line-height: 30px;
    margin-left: 10px;
    padding-left: 10px;
    border-left: solid 1px #FFF;
}
.app-header-menu {
    display: inline-block;
    float: left;
}
.app-header-navigation, .app-header-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.app-header-navigation > li {
    float: left;
    position: relative;
}
.app-header-navigation > li > a {
    display: table-cell !important;
    vertical-align: middle;
    height: 60px;
    line-height: normal;
    color: #FFF;
    font-weight: 600;
    padding: 0 15px;
    text-decoration: none;
}
.app-header-navigation > li > a .material-icons {
    vertical-align: middle;
    top: -1px;
    position: relative;
}
.app-header-navigation > li > a.active {
    box-shadow: inset 0 -2px 0 0 #fff;
}
.app-header-submenu {
    background-color: #fff;
    position: absolute;
    top: 100%;
    min-width: 100%;
    left: 0;
    -webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.3);
    transform-origin: left top 0px;
    display: none;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    -webkit-transform: scale(0);
    -khtml-transform: scale(0);
    transform: scale(0);
    -ms-box-shadow: 0 2px 4px 0 rgba(0,0,0,.16), 0 2px 8px 0 rgba(0,0,0,.12);
    -o-box-shadow: 0 2px 4px 0 rgba(0,0,0,.16), 0 2px 8px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.16), 0 2px 8px 0 rgba(0,0,0,.12);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=0, M21=0, M22=0, SizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix( M11=0, M12=0, M21=0, M22=0, SizingMethod='auto expand');
}
.app-header-submenu.app-extra-menu {
    width: 280px;
}
.app-extra-menu a {
    display: block;
    width: 50%;
    float: left;
    height: 80px;
    text-align: center;
    border-bottom: solid 1px #EEE;
    padding: 15px 0;
    color: #333 !important;
}
.app-extra-menu a:hover {
    background-color: #f2f2f2;
    text-decoration: none;
}
.app-extra-menu a span {
    display: block;
}
.app-extra-menu a:nth-child(odd) {
    border-right: solid 1px #EEE;
}
.app-header-submenu.app-notify-list {
    width: 360px;
}
.app-notify-header {
    width: 100%;
    padding: 15px 10px;
    color: #333;
    background-color: #f4f4f4;
}
.app-notify-header .app-notify-text-top {
    display: block;
    font-size: 20px;
    text-align: center;
}
.app-notify-header .app-notify-text {
    display: block;
    text-align: center;
    font-size: 15px;
}
.app-notify-tab {
    padding: 15px;
}
.app-notify-tab .nav {
    margin-bottom: 15px;
    border-bottom: solid 1px #eee;
}
.app-notify-tab .nav li {
    display: inline-block;
    float: left;
    width: auto;
    border-left: none !important;
    margin-right: 20px;
}
.app-notify-tab .nav li a:hover {
    background-color: transparent;
    border-bottom: solid 1px #9D50BB;
}
.app-notify-tab .nav li a {
    padding: 6px 0;
    font-weight: 500;
    font-size: 16px;
}
.app-notify-tab .nav li a.active {
    border-bottom: solid 1px #9D50BB;
    color: #9D50BB;
}
.app-header-submenu ul li {
    display: block;
    width: 100%;
}
.app-header-submenu ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #444;
    white-space: nowrap;
}
.app-header-submenu ul li a:hover {
    background-color: #EEE;
}
.app-header-submenu.active {
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix( M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand');
}
.app-header-right {
    display: inline-block;
    float: right;
}
.app-header-right.app-with-seperator .app-header-navigation li {
    border-left: solid 1px rgba(0,0,0,0.05);
}
.app-header-right .app-header-navigation .app-header-submenu {
    transform-origin: right top 0px;
    left: auto;
    right: 0;
}
.app-user-avatar {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    overflow: hidden;
}
.app-search-bar {
    position: absolute;
    width: 100%;
    height: 60px;
    top: -70px;
    left: 0;
    background: #DC2424;
    background: -webkit-linear-gradient(to right, #4A569D, #DC2424);
    background: linear-gradient(to right, #4A569D, #DC2424);
    -webkit-transition: top 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: top 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: top 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: top 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
.app-search-bar.active {
    top: 0;
}
.app-search-form {
    max-width: 1160px;
    width: 100%;
    height: 40px;
    margin: 10px auto;
    display: block;
    font-size: 14px;
    position: relative;
}
.app-search-input-wrapper {
    left: 20px;
    top: 0;
    right: 60px;
    bottom: 0;
    height: 40px;
    position: absolute;
}
.app-search-input {
    width: 100%;
    height: 40px;
    background-color: rgba(255,255,255,.2);
    border: none;
    padding: 0 54px 0 14px;
    display: block;
    color: #FFF;
    outline: none;
    font-size: 14px;
    font-family: inherit;
}
.app-search-input::placeholder {
    color: #FFF;
    opacity: .5;
}
.app-search-input:-ms-input-placeholder {
    color: #FFF;
}
.app-search-input::-ms-input-placeholder {
    color: #FFF;
}
.app-search-input:focus {
    background-color: rgba(255,255,255,.3);
}
.app-search-submit {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    padding: 8px;
    background: none;
    color: #FFF;
    border: none;
    cursor: pointer;
    outline: none;
}
.app-search-submit:hover {
    background-color: rgba(255,255,255,.1);
}
.app-search-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 0;
    background: none;
    border: none;
    padding: 8px;
    outline: none;
    cursor: pointer;
    color: #FFF;
}

/* 3. Sidebar */
.app-sidebar {
    position: fixed;
    width: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fafafa;
    height: 100%;
    z-index: 101;
    left: -310px;
    color: #455a64;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    -webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
    color: #514A9D;
}
.app-opened-sidebar .app-sidebar {
    left: 0;
}
.app-sidebar-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 60px;
}
.app-sidebar-wrapper::-webkit-scrollbar {
    width: 6px;
}
.app-sidebar-wrapper::-webkit-scrollbar-thumb {
    background: #4A569D;
}
.app-sidebar-wrapper::-webkit-scrollbar-track {
    background: #455a64;
}
.app-sidebar-logo {
    width: 100%;
    height: 60px;
    border-bottom: solid 1px #cfd8dc;
}
.app-sidebar-logo a {
    display: inline-block;
    float: left;
    margin: 16px 24px;
}
.app-sidebar-logo a img {
    display: block;
}
.app-sidebar-toggle-button {
    width: 24px;
    height: 24px;
    float: right;
    margin: 18px;
    cursor: pointer;
}
.app-sidebar-pin-button {
    width: 24px;
    height: 24px;
    float: right;
    margin: 18px;
    cursor: pointer;
}
.app-sidebar-pin-button i {
    position: absolute;
    transform: scale(1);
    -webkit-transition: transform 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: transform 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: transform 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: transform 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
.app-sidebar-pin-button .app-fixed-icon {
    transform: scale(0);
}
.app-pinned-sidebar .app-sidebar-pin-button .app-fixed-icon {
    transform: scale(1);
}
.app-pinned-sidebar .app-sidebar-pin-button .app-not-fixed-icon {
    transform: scale(0);
}
.app-sidebar-navi ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.app-sidebar-navi > ul ul {
    display: none;
}
.app-sidebar-navi .inner {
    overflow: hidden;
    display: none;
}
.app-sidebar-navi .app-seperate {
    width: 100%;
    height: 1px;
    background-color: #cfd8dc;
}
.app-sidebar-navi li {
    margin: 2px 0;
    display: block;
    width: 100%;
}
.app-sidebar-navi a {
    line-height: 50px;
    text-decoration: none;
    height: 50px;
    padding: 0 20px;
    color: #455a64;
    white-space: nowrap;
    display: table;
    width: 100%;
}
.app-sidebar-navi a:hover {
    background-color: #EEE;
}
.app-sidebar-navi a > span {
    display: table-cell;
}
.app-sidebar-navi a > span.app-icon {
    width: 40px;
    height: 50px;
    line-height: 0;
    vertical-align: middle;
}
.app-sidebar-navi a > span.app-arrow-icon {
    width: 24px;
    height: 50px;
    line-height: 0;
    vertical-align: middle;
    -webkit-transition: transform 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: transform 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: transform 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: transform 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.app-sidebar-navi > ul > li > ul > li > a {
    padding: 0 20px 0 60px;
    line-height: 40px;
    height: 40px;
    font-size: 95%;
}
.app-sidebar-navi > ul > li > ul > li > a span.app-arrow-icon {
    height: 40px;
}
.app-sidebar-navi > ul > li > ul > li > ul > li > a {
    padding: 0 20px 0 80px;
    line-height: 40px;
    height: 40px;
}
.app-sidebar-navi ul li.show > a > .app-arrow-icon {
    -ms-transform: rotate(180deg); /* IE 9 */
    -ms-transform-origin: 50% 50%; /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    -webkit-transform-origin: 50% 50%; /* Safari 3-8 */
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}
.app-sidebar-navi ul li.show > a {
    background-color: #EEEEEE;
}
.app-sidebar-navi>ul>li>ul>li.show > a {
    background-color: #f4f4f4;
}
.app-sidebar-navi ul li.show > a {
    color: #4A569D;
}
.app-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 100;
    cursor: pointer;
    display: none;
}
/* pinned sidebar styles */
.app-opened-sidebar .app-overlay {
    display: block;
}
.app-pinned-sidebar .app-overlay {
    display: none !important;
}
.app-pinned-sidebar .app-sidebar {
    top: 60px;
}
.app-pinned-sidebar.app-opened-sidebar .app-wrapper {
    margin-left: 300px;
}
.app-pinned-sidebar .app-wrapper {
    margin-left: 0;
}

/* 4. Material effect class helpers */
.app-material-button {
    position: relative;
    overflow: hidden;
}
.app-wave-effect {
    display: block;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 0px;
    height: 0px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.7;
}

/* 5. Mobile fixer styles */
@media (max-width: 768px) {
    .app-header-submenu.app-notify-list {
        width: 300px;
    }
    .app-logo .app-logo-mobile {
        display: block;
        position: relative;
        top: 4px;
    }
    .app-logo .app-logo-desktop {
        display: none;
    }
    .app-header-menu {
        display: none;
    }
    .app-hide-on-mobile {
        display: none;
    }
    .app-header-right .app-header-navigation .app-header-submenu.app-notify-list {
        right: -60px;
    }
}

/* 6. Easy color change with CSS */
/* open the section below to see the color change */
.app-header, .app-search-bar {
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.app-notify-tab .nav li a.active {
    border-color: #155799;
    color: #155799;
}
.app-notify-tab .nav li a:hover {
    border-color: #155799;
}
.app-sidebar-navi ul li.show > a, .app-header a {
    color: #155799;
}
.app-sidebar-wrapper::-webkit-scrollbar-thumb {
    background: #155799;
}

/* 7. And your code starts here */
.app-wrapper {
    padding-top: 80px;
    -webkit-transition: margin 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: margin 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: margin 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: margin 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
